.cloud{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url("../../../public/sun.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.c1{
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    animation: movingcloud 25s;
    animation-iteration-count: infinite;
}
.c2{
    animation-delay: 5s;
}
.c3{
    animation-delay: 10s;
}
.c4{
    animation-delay: 15s;
}
.c5{
    animation-delay: 20s;
}
@keyframes movingcloud {
    0%{
        transform: scale(1,1);
        opacity: 0;
    }
    20%{
    
        opacity: 0.7;
    }
    100%{
        transform: scale(5,5);
        opacity: 0;
    }
    
}